.clock {
    position: fixed;
    transform: translateY (50%);
    left: 50%;
    color: #202024;
    font-size: 40px;
    font-family: Questrial;
    letter-spacing: 2px;
}
h1 {
  color: #202024;
  font-family: Questrial;
  text-align: center;
}
