.clock {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 40px;
    font-family: Questrial;
    letter-spacing: 2px;
}
h1 {
  color: #202024;
  font-family: Questrial;
  text-align: center;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #202024;
  border-radius: 4px;
}
