.clock {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 40px;
    font-family: Questrial;
    letter-spacing: 2px;
}
h1 {
  color: #202024;
  font-family: Questrial;
  text-align: center;
}
